* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#nav{
	/*position: fixed absolute;*/
	color:black;
	text-align: center;
	font-size: larger;
	font-family: serif;	
	padding-top: 20px;
	padding-bottom: 20px;
	
}

#nav li {
	display: inline;
	padding: 20px;
}

#nav ul {
	
}
body{
	width: 100%;
	height: 100%;
	color: white;
}
.sektion {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.hintergrundbild {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.text {
	position: absolute;
	top: 5%;
	left: 35%;
	width: 55%;
	z-index: 2;
	background: rgba(188,189,191,0.4);
	border-radius: 10px;
}
.promo {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 10%;
	width: 30%;
	padding: 10px;
	z-index: 2;
	background: rgba(188,189,191,0.4);
	border-radius: 10px;
}

.hintergrundbild img {
	min-height: 100%;
	min-width: 100%;
}

.text h1, .text h2, .text p, .text ul{
	margin: 2%;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding: 20px;
	
	
}
h1,h2,h3 {
	font-family: serif;
}